<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.Utilities.ListenersUtilities">
		</listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.TestCases.SearchFunctionality_TC_001"/>
			<class name="com.TestCases.SearchSuggestions_TC_002"/>
			<class name="com.TestCases.ImageSearch_TC_003"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
